body{
    margin: 0;
    background-color: black;
}
#playerScore, #playerResult, #computerScore, #computerResult {
    display: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: yellow;
}

.header {
    display: grid;
    grid-auto-rows: 200px 100px;
    border: solid 2px black;
    align-items: stretch;
    justify-items: stretch;
    background-color: black;
}
h1 {
    margin: 0;
    text-align: center;
    align-self: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: yellow;
}

.notice {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large ;
    color: yellow;
}


.content {
    display: grid;
    grid-auto-rows: 100px 100px;
    align-items: stretch;
    justify-items: stretch;
}

.labelOptions {
    text-align: center;
    align-self: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: wheat;
    font-size: larger;
}

.playerOptions {
    text-align: center;

    }

.scoreAll {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    width: 80px;
    height: 80px;
}